<h1> <%= @power.name.capitalize%> </h1>

<p> <%= @power.description %></p>

<p>
<%= "Heroines with #{@power.name.capitalize}" %>
<ul>
<% @power.heroines.each do |heroine|%>
<li>
    <%= link_to heroine.name, heroine_path(heroine)%>
</li>
<%end%>
</ul>
</p>


<%= link_to "Back to All Powers", powers_path%>