

<%= form_for @heroine do |f| %>
<%= f.label :name %>
<h2> <%= f.text_field :name %> </h2>
<%= f.label :super_name %>
<h2> <%= f.text_field :super_name %> </h2>
<%= collection_select :superpowers, :name, Power.all, :id, :name %>
<br>
<%= f.submit %>
<% end %>
