<!DOCTYPE html>

<h3>Index Pages </h3>
<p>
  <li>
  <%= link_to "Power Index: See All Powers", powers_path %>
  </li>
  <li>
  <%= link_to "Heroine Index: Create Heroines and See All", heroines_path %>
  </li>

</p>

<hr>

<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
