<!DOCTYPE html>
<html>
  <head>
      <title>ImmersiveRailsAssessment</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= yield %>

      <footer>
        <hr>
        <%= link_to "Return to Heroines Page" , heroines_path %><br><br>
        <%= link_to "Return to Powers Page" , powers_path %>
      </footer>
  </body>
</html>
