<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <table>
      <tr>
        <th><%= link_to 'Superheroines', '/heroines' %></th>
        <th><%= link_to 'Powers', '/powers' %></th>
        <th><%= link_to 'My Github', 'https://github.com/jamesdorr3' %></th>
        <th><%= link_to 'My LinkedIn', 'https://www.linkedin.com/in/jamesdorr3/' %></th>
        <th><%= link_to 'My Instagram', 'https://www.instagram.com/dorrtheexplorer/' %></th>
        <th><%= link_to 'My Facebook', 'https://www.facebook.com/james.e.dorr' %></th>
        <th><%= link_to 'My Twitter', 'https://twitter.com/theJEDIII' %></th>
      </tr>
    </table>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
